<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>

<body>
    <button id="start">Start</button>
    <button id="stop">Stop</button>
    <script>
        let stream;
        let mr;
        let chunks = [];

        document.getElementById("start").addEventListener("click", async () => {
            stream = await window.navigator.mediaDevices.getDisplayMedia({
                video: true,
                audio: true,
            });
            mr = new MediaRecorder(stream);

            mr.ondataavailable = (e) => {
                chunks.push(e.data);
            };
            mr.onstop = () => {
                const blob = new Blob(chunks, { type: chunks[0].type });
                stream.getTracks().forEach(track => track.stop());

                const el = document.createElement("a");
                el.id = "dl";
                el.href = URL.createObjectURL(blob);
                el.download = "test.webm";
                document.body.appendChild(el);
                el.click();
                document.body.removeChild(el);

                // Send the file to the server
                const formData = new FormData();
                formData.append('file', blob, 'test.webm');
                fetch('/upload', {
                    method: 'POST',
                    body: formData,
                }).then(response => response.text())
                    .then(data => console.log(data))
                    .catch(error => console.error(error));
            };

            mr.start();
        });

        document.getElementById("stop").addEventListener("click", () => {
            mr.stop();
        });
    </script>
</body>

</html>